:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196F3;
  --primary-white-color: #FFFFFF;
  --primary-bg-color: #2F303A;
  --first-logo-color: #000000;
  --first-bg-color: #F5F5F5;
  --second--bg-color: #F5F4FA;
  --primary-addres-color: rgba(255, 255, 255, 0.6);
  --primary-border-color: #EEEEEE;
  --second-border-color: #ECECEC;
  --second-hero-color: #C4C4C4;
  --transition-duration: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --primary-icon-color: #AFB1B8;
  --primary-btn-color: #188CE8;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

button {
  cursor: pointer;
}

body {
  color: var(--title-text-color);
  background-color: var(--primary-white-color);
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity var(--transition-duration), visibility var(--transition-duration);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  padding: 40px;
  background: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--primary-white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  transition: border-color var(--transition-duration);
}

.modal-close-btn__icon {
  fill: var(--first-logo-color);
  transition: fill var(--transition-duration);
}
.modal-close-btn:hover .modal-close-btn__icon, .modal-close-btn:focus .modal-close-btn__icon {
  fill: var(--accent-color);
}

.modal-window__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  margin-bottom: 12px;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.modal-form {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.modal-form__desc {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
  color: var(--title-text-color);
}

.modal-form__wrapper {
  position: relative;
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: var(--primary-text-color);
}
.modal-form__input:focus + .modal-form__icon {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

.modal-form__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: fill var(--transition-duration), border-color var(--transition-duration);
}
.modal-form__input:focus {
  outline: none;
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

.modal-form__message {
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  transition: border-color var(--transition-duration);
}
.modal-form__message:focus {
  outline: none;
  border-color: var(--accent-color);
}
.modal-form__message::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__icon-check {
  border: 1px solid var(--primary-text-color);
  border-radius: 4px;
  cursor: pointer;
  margin-right: 7px;
  transition: background-color var(--accent-color), border-color var(--accent-color);
}
.modal-form__checkbox:checked + .modal-form__icon-check {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}
.modal-form__checkbox:focus + .modal-form__icon-check {
  outline: 2px solid var(--primary-btn-color);
}

.modal-form__check {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.modal-form__own-check {
  display: none;
}

.modal-form__checkbox:checked + .modal-form__icon-check .modal-form__own-check {
  display: block;
}

.modal-form__link-text {
  color: var(--accent-color);
}

.modal-form-btn {
  min-width: 200px;
  padding: 10px 52px;
  margin: 0 auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  border: none;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color var(--primary-btn-color);
}
.modal-form-btn:hover, .modal-form-btn:focus {
  background-color: var(--primary-btn-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.heder-fone {
  padding-top: 26px;
  padding-bottom: 21px;
  border: 1px solid var(--second-border-color);
}

.heder-fone-container {
  display: flex;
  align-items: center;
}

.page-navigation {
  display: flex;
  align-items: center;
  column-gap: 106px;
}

.navigation {
  position: relative;
  display: flex;
  column-gap: 50px;
}
.navigation .navigation__studio_curent {
  color: var(--accent-color);
}
.navigation .navigation__studio_curent::after {
  display: block;
  content: "";
  width: 48px;
  height: 4px;
  border-radius: 2px;
  position: absolute;
  top: 46px;
  left: -2px;
  background-color: var(--accent-color);
}
.navigation .navigation__portfolio_curent {
  color: var(--accent-color);
}
.navigation .navigation__portfolio_curent::after {
  display: block;
  content: "";
  width: 78px;
  height: 4px;
  border-radius: 2px;
  position: absolute;
  top: 46px;
  left: 93px;
  background-color: var(--accent-color);
}

.navigation-link {
  display: flex;
  margin-left: auto;
  column-gap: 50px;
}

.heder-fone {
  background-color: var(--primary-white-color);
}

.logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923076923;
  text-decoration: none;
}

.logo span {
  color: var(--first-logo-color);
}

.navigation a {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color var(--transition-duration);
}
.navigation a:hover, .navigation a:focus {
  color: var(--accent-color);
}

.navigation-link__item {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.navigation-link__mail {
  fill: var(--title-text-color);
  transition: fill var(--transition-duration), color var(--transition-duration);
}
.navigation-link__item:hover .navigation-link__mail, .navigation-link__item:focus .navigation-link__mail {
  fill: var(--accent-color);
}

.navigation-link__tel {
  fill: var(--title-text-color);
  transition: fill var(--transition-duration), color var(--transition-duration);
}
.navigation-link__item:hover .navigation-link__tel, .navigation-link__item:focus .navigation-link__tel {
  fill: var(--accent-color);
}

.navigation-link a {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color var(--transition-duration);
}
.navigation-link a:hover, .navigation-link a:focus {
  color: var(--accent-color);
}

.hero {
  max-width: 1600px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/mobile-img.jpg");
  background-color: var(--second-hero-color);
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px), screen and (min-resolution: 192dpi) and (max-width: 767px), screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/mobile-img@2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/tablet-img.jpg");
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/tablet-img@2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/dextop-img.jpg");
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/dextop-img@2x.jpg");
  }
}
.hero-container {
  padding-top: 118px;
  padding-bottom: 118px;
}

@media screen and (min-width: 1200px) {
  .hero-container {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
.hero__title {
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6153846154;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
  color: var(--primary-white-color);
}

@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.3636363636;
  }
}
.hero__button {
  padding-top: 10px;
  padding-bottom: 10px;
  min-width: 200px;
  display: block;
  margin: 0 auto;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  transition: background-color var(--transition-duration), box-shadow var(--transition-duration);
}
.hero__button:hover, .hero__button:focus {
  background-color: var(--primary-btn-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

@media screen and (min-width: 1200px) {
  .hero__button {
    min-width: 216px;
  }
}
.section-description {
  background-color: var(--primary-white-color);
}

.section-description-container {
  padding-top: 60px;
  padding-bottom: 30px;
}

.section-description__title {
  padding-bottom: 30px;
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666666667;
  text-align: center;
}

.description-list__item {
  display: flex;
  height: 120px;
  margin-bottom: 30px;
  background: var(--second--bg-color);
  border-radius: 4px;
  justify-content: center;
  align-items: center;
}

.description-list__icon {
  width: 70px;
  height: 70px;
}

.description-desc__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
}

.description-desc__text {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .description-list {
    width: 354px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  .description-list__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
.section-profile {
  background-color: var(--primary-white-color);
}

.section-profile-container {
  padding-top: 47px;
  padding-bottom: 94px;
}

.container.section-profile-container {
  position: relative;
}

.section-profile__title {
  margin-bottom: 50px;
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666666667;
  text-align: center;
}

.list-box {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.list-box__item {
  flex-basis: calc((100% - 60px) / 3);
}

.list-box-title {
  position: absolute;
  bottom: 94px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
}

.list-box-title__list {
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  flex-basis: calc((100% - 60px) / 3);
}

.list-box-title__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-top: 27px;
  padding-bottom: 27px;
  color: var(--primary-white-color);
}

.section-working {
  background-color: var(--second--bg-color);
}

.section-working-container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-working__title {
  margin-bottom: 50px;
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666666667;
  text-align: center;
}

.page-working {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.page-working .page-working__name {
  padding-top: 30px;
  margin-bottom: 10px;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
}
.page-working .page-working__about {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
}

.page-working__item {
  flex-basis: calc((100% - 90px) / 4);
}

.page-working__border {
  width: 270px;
  height: 168px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  background: var(--primary-white-color);
  border-top: none;
  border-radius: 0px 0px 4px 4px;
}

.page-working-list {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-bottom: 30px;
}

.page-working-list__link {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  fill: var(--primary-icon-color);
  background-color: var(--primary-white-color);
  transition: fill var(--transition-duration), background-color var(--transition-duration);
}
.page-working-list__link:hover, .page-working-list__link:focus {
  fill: var(--primary-white-color);
  background-color: var(--accent-color);
}

.section-clients {
  background-color: var(--primary-white-color);
}

.section-clients__title {
  padding-top: 94px;
  margin-bottom: 50px;
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666666667;
  text-align: center;
  letter-spacing: 0.03em;
}

.page-clients {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding-bottom: 94px;
}

.page-clients__link {
  display: flex;
  width: 170px;
  height: 92px;
  justify-content: center;
  align-items: center;
  flex-basis: calc((100% - 150px) / 6);
  border: 1px solid var(--primary-icon-color);
  border-radius: 4px;
  transition: fill var(--transition-duration), border-color var(--transition-duration);
}
.page-clients__link:hover, .page-clients__link:focus {
  border-color: var(--accent-color);
}

.page-clients__icon {
  fill: var(--primary-icon-color);
  transition: fill var(--transition-duration), color var(--transition-duration);
}
.page-clients__link:hover .page-clients__icon, .page-clients__link:focus .page-clients__icon {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

.page-footer {
  background-color: var(--primary-text-color);
}

.page-footer-container {
  display: flex;
  column-gap: 70px;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 16px;
}

.logo-desc {
  display: block;
  margin-bottom: 20px;
  color: var(--accent-color);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923076923;
  font-style: normal;
  text-decoration: none;
}

.logo-desc span {
  color: var(--primary-white-color);
  text-decoration: none;
}

.aside-address-list .aside-address-list__map a {
  padding-bottom: 10px;
  color: var(--primary-white-color);
  font-style: normal;
  text-decoration: none;
  transition: color var(--transition-duration);
}
.aside-address-list .aside-address-list__link a {
  padding-bottom: 10px;
  color: var(--primary-addres-color);
  font-style: normal;
  text-decoration: none;
  transition: color var(--transition-duration);
}
.aside-address-list .aside-address-list__map a:hover, .aside-address-list .aside-address-list__map a:focus {
  color: var(--accent-color);
}
.aside-address-list .aside-address-list__link a:hover, .aside-address-list .aside-address-list__link a:focus {
  color: var(--accent-color);
}

.footer-container__title {
  display: flex;
  padding-top: 12px;
  padding-bottom: 20px;
  width: 206px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.list-footer {
  display: flex;
  column-gap: 10px;
}

.list-footer__item {
  display: flex;
}

.list-footer__link {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  fill: var(--primary-white-color);
  background-color: rgba(255, 255, 255, 0.1);
  transition: fill var(--transition-duration), background-color var(--transition-duration);
}
.list-footer__link:hover, .list-footer__link:focus {
  fill: var(--primary-white-color);
  background-color: var(--accent-color);
}

.container-form__title {
  padding-top: 12px;
  padding-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.footer-form__field {
  display: flex;
}

.footer-form__input {
  padding-left: 10px;
  padding-right: 10px;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--primary-white-color);
  background-color: var(--primary-text-color);
}
.footer-form__input::placeholder {
  padding-left: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__btn {
  min-width: 200px;
  margin-left: 12px;
  padding: 10px 28px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  display: flex;
  column-gap: 10px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.section-hero {
  padding-bottom: 94px;
  background-color: var(--primary-white-color);
}

.section-hero__title {
  text-align: center;
}

.section-button-port {
  display: flex;
  padding-top: 94px;
  margin-bottom: 50px;
}

.button-port {
  display: flex;
  margin: 0 auto;
  gap: 8px;
}
.button-port .button-port__item {
  padding: 6px 22px;
  color: var(--primary-text-color);
  background-color: var(--second--bg-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  transition: color var(--transition-duration), background-color var(--transition-duration), box-shadow var(--transition-duration);
}
.button-port .button-port__item:hover, .button-port .button-port__item:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.hero-page {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
}

.hero-page__item {
  width: 370px;
  height: 402px;
  margin-bottom: 30px;
  flex-basis: calc((100% - 180px) / 9);
}
.hero-page__item:nth-child(n+7) {
  margin-bottom: 0px;
}

.hero-page__images {
  position: relative;
  overflow: hidden;
}

.hero-page__overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  transform: translateY(100%);
  transition: transform var(--transition-duration);
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
}
.hero-page__link:hover .hero-page__overlay, .hero-page__link:focus .hero-page__overlay {
  transform: translateY(0%);
}

.hero-page__overlay-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5555555556;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}

.hero-page__text {
  width: 370px;
  padding: 20px 24px;
  border: 1px solid var(--primary-border-color);
  border-top: none;
}

.hero-page__title-text {
  margin-bottom: 4px;
}

.hero-page__link {
  transition: box-shadow var(--transition-duration);
}
.hero-page__link:hover, .hero-page__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.hero-page__link .hero-page__title-text {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.hero-page__link .hero-page__about-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}/*# sourceMappingURL=main.css.map */