.logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  @include font(700, 24px, 28px);
  text-decoration: none;
}

.logo span {
  color: var(--first-logo-color);
}

@media screen and (max-width: 767px) {
  .navigation {
    display: none;
  }

  .navigation-link {
    display: none;
  }

  .heder-fone-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
  }
}

.heder-fone__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.heder-fone {
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: var(--primary-white-color);
  border-bottom: 1px solid var(--second-border-color);
}

@media screen and (min-width: 768px) {
  .heder-fone {
    padding-top: 21px;
    padding-bottom: 21px;
  }

  .heder-fone-btn {
    display: none;
  }

  .page-navigation {
    display: flex;
    align-items: center;
    column-gap: 87px;
  }

  .navigation {
    position: relative;
    display: flex;
    column-gap: 50px;

    & .navigation__studio_curent {
      color: var(--accent-color);
    }

    & .navigation__studio_curent::after {
      display: block;
      content: '';
      width: 48px;
      height: 4px;
      border-radius: 2px;
      position: absolute;
      top: 48px;
      left: -2px;
      background-color: var(--accent-color);
    }

    & .navigation__portfolio_curent {
      color: var(--accent-color);
    }

    & .navigation__portfolio_curent::after {
      display: block;
      content: '';
      width: 78px;
      height: 4px;
      border-radius: 2px;
      position: absolute;
      top: 46px;
      left: 93px;
      background-color: var(--accent-color);
    }
  }

  .navigation-link a {
    color: var(--title-text-color);
    @include font(500, 12px, 14px);
    letter-spacing: 0.02em;
    text-decoration: none;
    transition: color var(--transition-duration);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }

  .navigation-link__mail {
    width: 14px;
    height: 10px;
  }

  .navigation-link__tel {
    width: 10px;
    height: 14px;
  }

  .navigation-link {
    display: block;
    align-items: center;
  }

  .navigation-link__icon {
    margin-bottom: 10px;
  }

  .navigation-link__icon:last-child {
    margin-bottom: 0;
  }

  .navigation a {
    color: var(--primary-text-color);
    @include font(500, 14px, 16px);
    letter-spacing: 0.02em;
    text-decoration: none;
    transition: color var(--transition-duration);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }

  .navigation-link__item {
    display: flex;
    align-items: center;
    column-gap: 10px;
  }

  .navigation-link__mail {
    fill: var(--title-text-color);
    transition: fill var(--transition-duration), color var(--transition-duration);

    .navigation-link__item:hover &,
    .navigation-link__item:focus & {
      fill: var(--accent-color);
    }
  }

  .navigation-link__tel {
    fill: var(--title-text-color);
    transition: fill var(--transition-duration), color var(--transition-duration);

    .navigation-link__item:hover &,
    .navigation-link__item:focus & {
      fill: var(--accent-color);
    }
  }
}

@media screen and (min-width: 1200px) {
  .heder-fone {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .logo {
    @include font(700, 26px, 31px);
  }

  .page-navigation {
    column-gap: 92px;
  }

  .navigation-link {
    display: flex;
    align-items: center;
    column-gap: 30px;
  }

  .navigation-link__icon {
    margin-bottom: 0;
  }

  .navigation-link a {
    @include font(500, 14px, 16px);
  }
  .navigation-link__mail {
    width: 16px;
    height: 12px;
  }

  .navigation-link__tel {
    width: 10px;
    height: 16px;
  }
}

//   & .navigation__portfolio_curent {
//     color: var(--accent-color);
//   }

//   & .navigation__portfolio_curent::after {
//     display: block;
//     content: "";
//     width: 78px;
//     height: 4px;
//     border-radius: 2px;
//     position: absolute;
//     top: 46px;
//     left: 93px;
//     background-color: var(--accent-color);
//   }
// }
