.section-description {
  background-color: var(--primary-white-color);
}

.section-description-container {
  padding-top: 60px;
  padding-bottom: 30px;
}

.section-description__title {
  padding-bottom: 30px;
  color: var(--primary-text-color);
  @include font(700, 36px, 42px);
  text-align: center;
}

.description-desc-pic {
  display: flex;
  height: 120px;
  margin-bottom: 30px;
  background: var(--second--bg-color);
  border-radius: 4px;
  justify-content: center;
  align-items: center;
}

.description-list__icon {
  width: 70px;
  height: 70px;
}

.description-desc__title {
  margin-bottom: 10px;
  @include font(700, 14px, 16px);
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
}

.description-desc__text {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .section-description-container {
    padding-bottom: 60px;
  }

  .description-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  .description-list__item {
    width: 354px;
    flex-basis: calc((100% - 30px) / 2);
  }

  .description-desc {
    width: 354px;
  }

  .description-desc__text {
    margin-bottom: 0;
  }

  .description-desc__title {
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .description-list__item {
    width: 270px;
    flex-basis: calc((100% - 3 * 30px) / 4);
  }

  .description-desc {
    width: 270px;
  }

    .section-description-container {
      padding-top: 94px;
      padding-bottom: 47px;
    }
}

