.section-description {
  background-color: var(--primary-white-color);
}

.section-description-container {
  padding-top: 94px;
  padding-bottom: 47px;
}

.section-description__title {
  padding-bottom: 30px;
  color: var(--primary-text-color);
  @include font(700, 36px, 42px);
  text-align: center;
}

.description-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.description-list__item {
  display: flex;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background: var(--second--bg-color);
  border-radius: 4px;
  flex-basis: calc((100% - 3 * 30px) / 4);
  justify-content: center;
  align-items: center;
}

.description-list__icon {
  display: flex;
  width: 70px;
  height: 70px;
}

.description-desc {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.description-desc__item {
  flex-basis: calc((100% - 3 * 30px) / 4);
}

.description-desc__title {
  margin-bottom: 10px;
  
  .description-desc & {
    color: var(--primary-text-color);
    @include font(700, 14px, 16px);
    text-transform: uppercase;
  }
}
