.modal-form {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.modal-form__desc {
  display: block;
  @include font(400, 12px, 14px);
  letter-spacing: 0.01em;
  margin-bottom: 4px;
  color: var(--title-text-color);
}

.modal-form__wrapper {
  position: relative;
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: var(--primary-text-color);

  .modal-form__input:focus + & {
      fill: var(--accent-color);
      border-color: var(--accent-color);
    }
}

.modal-form__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: fill var(--transition-duration), border-color var(--transition-duration);

  &:focus {
      outline: none;
      fill: var(--accent-color);
      border-color: var(--accent-color);
    }
}


.modal-form__message {
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  transition: border-color var(--transition-duration);

  &:focus {
      outline: none;
      border-color: var(--accent-color);
    }

  &::placeholder {
    @include font(400, 12px, 14px);
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}

.modal-form__icon-check {
  border: 1px solid var(--primary-text-color);
  border-radius: 4px;
  cursor: pointer;
  margin-right: 7px;
  transition: background-color var(--accent-color), border-color var(--accent-color);

  .modal-form__checkbox:checked + & {
      background-color: var(--accent-color);
      border-color: var(--accent-color);
    }
  
  .modal-form__checkbox:focus + & {
    outline: 2px solid var(--primary-btn-color);
  }
}

.modal-form__check {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.modal-form__own-check {
  display: none;
}

.modal-form__checkbox:checked + .modal-form__icon-check .modal-form__own-check {
  display: block;
}

.modal-form__link-text {
  color: var(--accent-color);
}

.modal-form-btn {
  min-width: 200px;
  padding: 10px 52px;
  margin: 0 auto;
  @include font(700, 16px, 30px);
  border: none;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color var(--primary-btn-color);

  &:hover,
  &:focus {
    background-color: var(--primary-btn-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}

