.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  padding: 40px;
  background: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--primary-white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  transition: border-color var(--transition-duration);
}

.modal-close-btn__icon {
  fill: var(--first-logo-color);
  transition: fill var(--transition-duration);

  .modal-close-btn:hover &,
  .modal-close-btn:focus & {
    fill: var(--accent-color);
  }
}



.modal-window__title {
  @include font(700, 20px, 23px);
  text-align: center;
  margin-bottom: 12px;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}