:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196F3;
  --primary-white-color: #FFFFFF;
  --primary-bg-color: #2F303A;
  --first-logo-color: #000000;
  --first-bg-color: #F5F5F5;
  --second--bg-color: #F5F4FA;
  --primary-addres-color: rgba(255, 255, 255, 0.6);
  --primary-border-color: #EEEEEE;
  --second-border-color: #ECECEC;
  --second-hero-color: #C4C4C4;
  --transition-duration: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --primary-icon-color: #AFB1B8;
  --primary-btn-color: #188CE8;
}